{% extends 'base.html' %}


{% block title %}

<title>Hire-up</title>
<link rel="stylesheet" href="../static/feed/feed.css">

{% endblock %}

{% block content %}

<div class="container">

    <h1>Newsfeed</h1>
    
    


{% for data in data %}
<div class="card mt-3" >
    <div class="card-top">
        <div>
            {% if data["IMAGE_URL"] %}
            <img class="title-icon" src="{{data["IMAGE_URL"]}}" alt="icon">

            {% else%}
            <img class="title-icon" src="https://i.ytimg.com/vi/8AFQxR2d1Uw/maxresdefault.jpg" alt="icon">
            {% endif %}            
        </div>
        <div class="post-name">
            <h6><b>{{data['AUTHOR_NAME']}}</b></h6>

        </div>

    </div>
    <div class="card-head" >
        <div style="margin-right: 10px;" style="height:100%;width:40%;display: flex; justify-content: center;align-items: center ;">
                <iframe width="300" height="220" style="border-radius:4%;margin: 10px " src="https://www.youtube.com/embed/{{data["VIDEO_URL"].split("/")[-1]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </div>
        <div class="img-description" style="height: 100%;">
            <h6 class="card-title"><b>Title</b></h6>
            <h6 class="card-text">{{data['TITLE']}}</h6>

            <h6><b>Description</b></h6>
            <p>
                {{data['DESCRIPTION']}}


            </p>
            <div style="margin-bottom:0 ;">
            <p>Click <a href="{{data['URL']}}">here</a> to view the Project Resource <span style="color: grey;">(Codes,Portfolios,Outputs)</span> </div>
            </p></div>

    </div>

    <div class="card-body nav justify-content-end">
        <a href="/hr/views/{{data['AUTHOR_ID']}}" class="btn btn-danger ml-0" style="background-color: red">View Profile</a>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}