{% extends '/user/base.html' %}
{% block head %}
    <title>Feed </title>
{% endblock %}

{%block body%}



    {% if data %}
    <div class="container">
      <h1>Edit Feed</h1>
      
      <form class="form-control" action="/user/posts/edit/{{data[1]}}" method="POST">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Add Video URL</label>
              <input type="text" class="form-control" id="exampleInputEmail1" value="{{data[5]}}" name="video_url" aria-describedby="emailHelp" >
              <p style="color: grey;">Upload a demo video of your Project in YouTube and copy the link and paste it here, So that he can view the video and can increase the job oppourtunities</p>
            </div>
      
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{data[2]}}"   name="title" >
            </div>
      
           
      
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Description</label>
              <textarea  id="" cols="30" rows="10" name="description" class="card" style="width: 100%;" >{{data[3]}}</textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Project deliveries</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="{{data[4]}}"  name="project_url" >
              <p style="color: grey;">Share the code in platforms like Github and share the url </p>
            </div>
      <button type="submit" class="btn btn-success">Save</button>
      
      </form>
      
      </div>
      
      {% else  %}
  

<div class="container">
  <h1>Create Feed</h1>
  
  <form class="form-control" action="/user/feed/new" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Add Video URL</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="video_url" aria-describedby="emailHelp" >
      <p style="color: grey;">Upload a demo video of your Project in YouTube and copy the link and paste it here, So that he can view the video and can increase the job oppourtunities</p>
    </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"   name="title" >
        </div>
  
       
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Description</label>
          <textarea  id="" cols="30" rows="10" name="description" class="card" style="width: 100%;"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Project deliveries</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"   name="project_url" >
          <p style="color: grey;">Share the code in platforms like Github and share the url </p>
        </div>
        
  <button type="submit" class="btn btn-success">Save</button>
  
  </form>
  
  </div>
  

    {% endif %}


{% endblock %}