{% extends '/user/base.html' %}
{% block head %}
    <title>Jobs </title>
{% endblock %}

{%block body%}
<div>
    <div class="container">
        <h2>Job Openings</h2>
        <div >
            {% if data %}
            {% for data in data %}
            <div class="jobcard card mt-3 " style="width:100%">
                <div class="card-body " style="align-items:center ;">
                    
                    <h6 class="f-5">{{data["TITLE"]}}</h6>
                    <p class="f-5" style="color: grey;">{{data["COMPANY_NAME"]}}</p>
                    
                </div> 
                <div class="card-body">
                    <h6>Designation</h6>
                    <p class="card-text">{{data["DESIGNATION"]}}</p>
                    <h6>Company Description</h6>
                    <p> {{data["COMPANY_DESCRIPTION"]}}</p>
                    <h6>Skillset</h6>
                    <h6>
                        <ul>
                            {% for skill in data["SKILLS_REQUIRED"].split(",") %}
                            <li >
                                {{skill}}
                            </li>
                            {% endfor %}
                        </ul>
                    </h6>
                
                </div>
                
                <div class="card-body d-flex" style="justify-content:space-between ;">
                  
                
                  <a href="/user/view_application/{{data['ID']}}" class="btn btn-danger ml-0" style="background-color: red">View </a>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <p>No results found</p>
              {% endif %}
        </div>

    </div>
</div>

{% endblock %}  