<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,400;0,700;0,800;0,900;1,300&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9e53093d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    
    <title>Hire-Up</title>
</head>
<body>
    
    
    <div class="description">
        <h1><b>Grab Your 0ppurtunity With</b></h1>
        <div class="brand"> 
            <h1 class="name"><b><span style="color: red;">H</span><span>ire-</span><span style="color:red;">U</span><span>p</span></b></h1>
        </div>
    </div>
    <div class="quote">
        <p>''The future belongs to those who learn more skills and combine them in creative ways''</p>
        <p style="margin-left:30px;">--Robert Greene</p>
    </div>
    <div class="setup">
        <div class="inner">
        
            <div class="user">
                
                <div class="user-topic topic" >
                    <h3>Job</h3>
                    <h4>Seeker   <i class="fa-regular fa-user" style="color:blue ;"></i></h4>
                    
                </div>
                
                <a href="/user/signin"><button class="btn btn-light log-button" >Sign In<i class="fa-solid fa-right-to-bracket log-icon"></i></button></a>
                <a href="/user/signup"><button class="btn btn-light log-button">Sign Up<i class="fa-solid fa-user-plus hr-icon"></i></button></a>
            </div>
            
            <div class="vl"></div>
    
            <div class="hr">
                <div class="hr-topic topic">
                    <h3 >HR</h3>
                    <h4>Manager  <i class="fa-solid fa-user-tie" style="color:blue ;"></i></h4>
                </div>
                <a href="/hr/signin"><button class="btn btn-light log-button">Sign In<i class="fa-solid fa-right-to-bracket log-icon"></i></button></a>
                <a href="/hr/signup"><button class="btn btn-light log-button">Sign Up<i class="fa-solid fa-user-plus hr-icon"></i></button></a>
                
    
            </div>
    </div>
    <div class="footer">
        <i class="fa-brands fa-youtube social-icon" style="color:#FF0000 ;"></i>
        <i class="fa-brands fa-linkedin social-icon" style="color:#0e76a8  ;" ></i>
        <i class="fa-brands fa-twitter social-icon" style="color:#1DA1F2  ;"></i>
        <i class="fa-brands fa-facebook social-icon" style="color:#305ab6 ;"></i>

    </div>
    
        

    </div>
        

    

    
</body>
</html>