{% extends '/user/base.html' %}
{% block head %}
    <title>Jobs </title>
{% endblock %}

{%block body%}
<div>
    <div class="container">
        <h1>Edit profile</h1>
        <form action="/user/profile/editprofile" method="post">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="" name="name" placeholder="Enter your name"  value="{% if data["NAME"] %} {{data["NAME"]}} {% else %}{% endif %}">
              </div>
            <div class="mb-3">
            <label for="" class="form-label" style="display:flex;">About</label>
            <textarea name="about" id="" cols="100"  rows="7">{% if data["ABOUT"] %} {{data["ABOUT"]}} {% else %}{% endif %}</textarea>
            </div>
            
            <div class="mb-3">
                <label for="" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="" name="phone" placeholder="Phone Number" value="{% if data["PHONE"] %} {{data["PHONE"]}} {% else %}{% endif %}">
              </div>
            <div class="mb-3">
              <label for="" class="form-label">Designation</label>
              <input type="text" class="form-control" id="" name="designation" placeholder="Ex : student" value="{% if data["DESIGNATION"] %} {{data["DESIGNATION"]}} {% else %}{% endif %}">
              
            </div>
            <div class="mb-3">
                <label for="" class="form-label">School</label>
                <input type="text" class="form-control" id="" name="school" placeholder="Ex : University" value="{% if data["SCHOOL"] %} {{data["SCHOOL"]}} {% else %}{% endif %}">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Skills</label>
                <input type="text" class="form-control" id="" name="skills" placeholder="Ex : python, C , PHP, etc.." value="{% if data["SKILLS"] %} {{data["SKILLS"]}} {% else %}{% endif %}">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Project</label>
                <input type="text" class="form-control" id="" name="project" placeholder="project title" value="{% if data["PROJECT"] %} {{data["PROJECT"]}} {% else %}{% endif %}">
              </div>

              <div class="mb-3">
                <label for="" class="form-label" style="display:flex;">Project Description</label>
                <textarea name="description" id="" cols="100" rows="7"  >{% if data["DESCRIPTION"] %} {{data["DESCRIPTION"]}} {% else %}{% endif %}</textarea>
            </div>
              

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </div>
</div>

{% endblock %}  