{% extends '/user/base.html' %}
{% block head %}
    <title>Jobs </title>
{% endblock %}

{%block body%}
<div>
    <div class="container">
        <h2>Job Openings</h2>
        <div >
            <div class="jobcard card mt-3 " style="width:100%">
                <div class="card-body d-flex " style="align-items:center ;">
                    <div style="width:5%">

                {% if data["IMAGE_URL"] %}
                <img class="title-icon" src="{{data["IMAGE_URL"]}}" alt="icon">

                {% else%}
                <img class="title-icon" src="https://i.ytimg.com/vi/8AFQxR2d1Uw/maxresdefault.jpg" alt="icon">
                {% endif %}
                </div>
                    <h6 class="f-5" style="margin-left:15px ;">{{hr}} <br> <span style="color: grey;">Recruiter</span></h6>
                    
                    
                </div> 
                <div class="card-body">
                    <h6>Title</h6>
                    <p class="card-text">{{data["TITLE"]}}</p>
                    <h6>Designation</h6>
                    <p class="card-text">{{data["DESIGNATION"]}}</p>
                    <h6>Roles & Responsibilities</h6>
                    <p class="card-text">{{data["ROLES_RESPONSIBILITIES"]}}</p>
                    
                    <h6>Skillset</h6>
                    <h6>
                        <ul>
                            {% for skill in data["SKILLS_REQUIRED"].split(",") %}
                            <li >
                                {{skill}}
                            </li>
                            {% endfor %}
                        </ul>
                    </h6>
                
                    <h6>Company Name</h6>
                    <p> {{data["COMPANY_NAME"]}}</p>
                    <h6>Company Description</h6>
                    <p> {{data["COMPANY_DESCRIPTION"]}}</p>

                    <h6>Location</h6>
                    <p class="card-text">{{data["LOCATION"]}}</p>

                    <h6>Website</h6>
                    <p class="card-text">{{data["WEBSITE"]}}</p>
                    
                </div>
                {% if button==True%}
                <div class="card-body d-flex" style="justify-content:space-between ;">
                  
                
                  <a href="#"  class="btn btn-danger ml-0" style="background-color: gray">You have applied </a>
                </div>
                {% else %}
                <div class="card-body d-flex" style="justify-content:space-between ;">
                  
                
                    <a href="/user/apply/{{data["ID"]}}" class="btn btn-danger ml-0" style="background-color: red">Apply </a>
                  </div>
                  {% endif %}
              </div>
        </div>

    </div>
</div>

{% endblock %}  