{% extends 'base.html' %}


{% block title %}

<title>Hire-up</title>

{% endblock %}

{% block content %}

<div class="container">

    <h1>Applications</h1>
    {% if data %}
    {% for data in data %}
    <div class="jobcard card mt-3 " style="width:100%">
        <div class="card-body d-flex " style="align-items:center ;">
            
                {% if data[4] %}
                <img class="title-icon" src="{{data[4]}}" alt="icon">

                {% else%}
                <img class="title-icon" src="https://i.ytimg.com/vi/8AFQxR2d1Uw/maxresdefault.jpg" alt="icon">
                {% endif %}
            <h6 class="f-5" style="margin-left:5px  ;">{{data[0]}}</h6>
            
        </div> 
        <div class="card-body">
            <h6>About Jobseeker</h6>
            <p class="card-text">{{data[1][0]}}</p>
            <h6>Designation</h6>
            <p class="card-text">{{data[2]}}</p>
            <h6>Application Name</h6>
            <p>{{data[5]}}</p>
            
        
        </div>
        
        <div class="card-body d-flex" style="justify-content:space-between ;">
            {% if data[-1] and data[-1]=="viewed" %}
            <p class="colorash" >Viewed This Application</p>
            {% endif %}
          
        
          <a href="/hr/view/{{data[3]}}?search={{data[7]}}" class="btn btn-danger" style="background-color: red">View Profile</a>
        </div>
      </div>

      {% endfor %}
      {%endif%}
</div>
{% endblock %}